# basics-of-python

Use the "Run" button to execute the code.

In [1]:
print('Hello World')

Hello World

In [2]:
not (True and 0<1 ) != (False )

False

A bulleted list: 
* item 1 
* item 2
* item 3

list it is 
    
1. item 2
2. item 3
3. item 4


You can make some text bold using `**`, e.g., **some bold text**, or make it italic using `*`, e.g., *some italic text.* You can also create links, e.g., [a link](https://jovian.ai). Images are easily embedded too:

![](https://i.imgur.com/3gjZMYK.png)

Another really nice feature of Markdown is the ability to include blocks of code. Note that code blocks inside Markdown cells cannot be executed.

```
# Perform the required calculations
profit_per_bag = cost_of_ice_bag * profit_margin
total_profit = number_of_bags * profit_per_bag

# Display the result
print("The grocery store makes a total profit of $", total_profit)

```

You can learn the full syntax of Markdown here: https://learnxinyminutes.com/docs/markdown/

In [12]:
!pip install jovian --upgrade --quiet

import jovian 
jovian.commit(project='basics-of-python')

[jovian] Updating notebook "prabhat-himika/basics-of-python" on https://jovian.com
[jovian] Committed successfully! https://jovian.com/prabhat-himika/basics-of-python

'https://jovian.com/prabhat-himika/basics-of-python'

In [5]:
my_fav_col = 'blue'

In [6]:
print("my fav co ", my_fav_col)

my fav co  blue

In [9]:
count = 1
count+=1
print(count)

# variables are case-sensitive

2

In [10]:
import jovian
jovian.commit(project = "basics-of-python")

[jovian] Updating notebook "prabhat-himika/basics-of-python" on https://jovian.com
[jovian] Committed successfully! https://jovian.com/prabhat-himika/basics-of-python

'https://jovian.com/prabhat-himika/basics-of-python'

In [11]:
type(count)

int

### Data types in python
1. Integer
2. Float
3. Boolean
4. None
5. String
6. List
7. Tuple
8. Dictionary

In [12]:
count = 4.
print(type(count))

<class 'float'>

In [ ]:
jovian.commit(project="basics-of-python")

In [1]:
hello = 1

In [2]:
print(hello)

1

- Division always returns float

In [3]:
type(2/2)

float

In [4]:
5+ False

5

In [5]:
5 + True

6

In [6]:
jovian.commit(project = "basics-of-python")

[jovian] Updating notebook "prabhat-himika/basics-of-python" on https://jovian.com
[jovian] Committed successfully! https://jovian.com/prabhat-himika/basics-of-python

'https://jovian.com/prabhat-himika/basics-of-python'

In [7]:
1e-2

0.01

In [8]:
6.32149876293543

6.32149876293543

In [9]:
colo1 , colo2, colo3 = "wer" , "rotuh", "seuiryt"

In [10]:
print(colo1)

wer

_this is a list_

In [12]:
the_3_musketeers = ["aple", "mego","guvga"]

In [13]:
the_3_musketeers

['aple', 'mego', 'guvga']

In [14]:
type(the_3_musketeers)

list

In [15]:
float(the_3_musketeers)

TypeError: float() argument must be a string or a number, not 'list'

In [16]:
type(30/7.8)

float

In [17]:
30/7.8

3.8461538461538463

In [19]:
# this is integer division operator
type(67 // 57)

int

In [20]:
# all empty data structures are false

Any value in Python can be converted to a Boolean using the `bool` function. 

Only the following values evaluate to `False` (they are often called *falsy* values):

1. The value `False` itself
2. The integer `0`
3. The float `0.0`
4. The empty value `None`
5. The empty text `""`
6. The empty list `[]`
7. The empty tuple `()`
8. The empty dictionary `{}`
9. The empty set `set()`
10. The empty range `range(0)`

Everything else evaluates to `True` (a value that evaluates to `True` is often called a *truthy* value).

In [21]:
bool("hello")

True

In [23]:
# None = null
None

In [24]:
a = None

In [25]:
print(a)

None

In [26]:
type(a)

NoneType

## Strings

In [28]:
m = 'one flew over cukoo\'s nest'

In [29]:
m

"one flew over cukoo's nest"

In [30]:
n = "this is a string"

In [31]:
n1 = " this is also ' a string'"

In [32]:
n1

" this is also ' a string'"

In [42]:
# this is a multiline string

n3 = """ hits a different
 skuohgjbfuijo"""

In [43]:
n3

' hits a different\n\n skuohgjbfuijo'

In [44]:
len(n3)

33

In [49]:
# gives a list of characters
list(n3)

[' ',
 'h',
 'i',
 't',
 's',
 ' ',
 'a',
 ' ',
 'd',
 'i',
 'f',
 'f',
 'e',
 'r',
 'e',
 'n',
 't',
 '\n',
 '\n',
 ' ',
 's',
 'k',
 'u',
 'o',
 'h',
 'g',
 'j',
 'b',
 'f',
 'u',
 'i',
 'j',
 'o']

In [51]:
# leaves the upper limit
n3[3:8]

'ts a '

In [47]:
n3[4]

's'

In [52]:
jovian.commit( project ="basics-of-python")

[jovian] Updating notebook "prabhat-himika/basics-of-python" on https://jovian.com
[jovian] Committed successfully! https://jovian.com/prabhat-himika/basics-of-python

'https://jovian.com/prabhat-himika/basics-of-python'

In [55]:
# check whether a string contains a set of characters
"hits" in n3

True

In [57]:
n1 + n3 + "!"

" this is also ' a string' hits a different\n\n skuohgjbfuijo!"

In [59]:
n3.upper()

' HITS A DIFFERENT\n\n SKUOHGJBFUIJO'

In [60]:
"hits".capitalize()

'Hits'

In [61]:
n3

' hits a different\n\n skuohgjbfuijo'

In [62]:
n3.lower()

' hits a different\n\n skuohgjbfuijo'

In [69]:
# to replace a part of string with another string
new_n3 = n3.replace("hits", "this is new")

In [64]:
new_n3

' this is new a different\n\n skuohgjbfuijo'

In [65]:
new_n3.capitalize()

' this is new a different\n\n skuohgjbfuijo'

In [66]:
n2= "this is a new string"

In [67]:
n2.capitalize()

'This is a new string'

**split** method is used to **split a string into a list of strings** based on chars provided 

string.split(separator,maxsplit)

**strip** method is used to **strip whitespaces from the beginning and the end** of a string

In [81]:
string_list = " aasefd seoufhi sdfiug siiedurtggbjf"

string_list.split(",")

[' aasefd seoufhi sdfiug siiedurtggbjf']

In [80]:
string_list.split()

['aasefd', 'seoufhi', 'sdfiug', 'siiedurtggbjf']

In [82]:
string_list.strip()

'aasefd seoufhi sdfiug siiedurtggbjf'

### Format method
 string = """ asdfkujbhui {} sodifhn {} sjihkbdf {} """
 

new_string = string.format(var1, var2, var3)

In [94]:
cost = 2.5
price = 5
deduct = 6

a_string = """ this is a new string {} to demonstrate {} the 
use of format function and deducts {} and the total sum would be {}"""

sum = cost + price + deduct;

formatted_string = a_string.format(cost, price* 4, deduct , sum )
print(formatted_string)

 this is a new string 2.5 to demonstrate 20 the
use of format function and deducts 6 and the total sum would be 13.5

In [103]:
jovian.commit(project = "basics-of-python")

[jovian] Updating notebook "prabhat-himika/basics-of-python" on https://jovian.com
[jovian] Committed successfully! https://jovian.com/prabhat-himika/basics-of-python

'https://jovian.com/prabhat-himika/basics-of-python'

In [ ]:
# we can also concatenat using '+' operator but to we should first convert it using str(var) and not string(var)
cost = 34
"if a grocery shop sells at cost price - " + str(cost)

In [118]:
# list to/as string
string_list1 = ["a" , " new" , "string","werion"]
str(string_list1)

"['a', ' new', 'string', 'werion']"

In [119]:
a_name = "joe"

In [120]:
a_name =="joe"

True

In [121]:
a_name ==" ken"

False

In [122]:
a_name != "jen"

True

In [123]:
jovian.commit()

[jovian] Updating notebook "prabhat-himika/basics-of-python" on https://jovian.com
[jovian] Committed successfully! https://jovian.com/prabhat-himika/basics-of-python

'https://jovian.com/prabhat-himika/basics-of-python'

### List 

these can append new elements unlike tuples

In [125]:
a_list = ['1' ,1 ,2<6 , "this is a string"]

In [126]:
a_list

['1', 1, True, 'this is a string']

In [127]:
a_list.append("this")

In [128]:
a_list

['1', 1, True, 'this is a string', 'this']

In [129]:
a_list[-2]

'this is a string'

In [131]:
a_list[-1]
len(a_list)

5

In [132]:
# returns a sub list
a_list[2:6]

[True, 'this is a string', 'this']

In [133]:
a_list[2:]

[True, 'this is a string', 'this']

In [134]:
a_list[:4]

['1', 1, True, 'this is a string']

In [136]:
# to change an element in a list 
a_list[4] = "new"

In [138]:
a_list

['1', 1, True, 'this is a string', 'new']

In [154]:
# to insert an element in a list 
a_list.insert( 3, "strawberries")
a_list

['1',
 1,
 True,
 'strawberries',
 'strawberrys',
 'strawberrys',
 'this is a string',
 'new']

In [152]:
a_list.remove("strawberries")

In [163]:

# to check if an element is present in a list
'new' in a_list

True

In [166]:
# tp concatenate lists
more_list =a_list + ["more" , 4 , "ele" , 'thi']
more_list

['1',
 1,
 True,
 'strawberries',
 'strawberrys',
 'strawberrys',
 'this is a string',
 'new',
 'more',
 4,
 'ele',
 'thi']

In [170]:
more_list.pop()

4

In [171]:
more_list

['1',
 1,
 True,
 'strawberries',
 'strawberrys',
 'strawberrys',
 'this is a string',
 'new',
 'more']

In [174]:
# to make a copy of the list
list_copy = a_list.copy()
list_copy

['1',
 1,
 True,
 'strawberries',
 'strawberrys',
 'strawberrys',
 'this is a string',
 'new']

### more functions

list.clear() - to clear the list

TypeError: list.count() takes exactly one argument (0 given)

In [179]:
# to count the occurence of an element in a list 
a_list.count("strawberries")

1

In [186]:
a_list.reverse()
a_list

['new',
 'this is a string',
 'strawberrys',
 'strawberrys',
 'strawberries',
 True,
 1,
 '1']

In [191]:
num_list =[1 ,6,2  , 9]

In [193]:
num_list.sort()
num_list

[1, 2, 6, 9]

In [194]:
num_list.index(9)

3

In [195]:
num_list.reverse()
num_list

[9, 6, 2, 1]

In [200]:
# add the elements of one list to the end of another list
num_list2 = [55,7,88]
num_list2.append(num_list)
num_list2

[55, 7, 88, [9, 6, 2, 1]]

In [206]:
num_list2.insert(23,num_list[2])

In [207]:
num_list2

[55, 7, 88, [9, 6, 2, 1], 1, 1, 2]

In [212]:
# sort a list of strings in alphabetical order
alpha_string = ["thjis ", "seiourh ke"]
alpha_string.sort()
alpha_string

['seiourh ke', 'thjis ']

## Tuples

random text

In [216]:
fruits =('this' ,'is a' , 'a','tuple')
fruits

('this', 'is a', 'a', 'tuple')

In [217]:
jovian.commit()

[jovian] Updating notebook "prabhat-himika/basics-of-python" on https://jovian.com
[jovian] Committed successfully! https://jovian.com/prabhat-himika/basics-of-python

'https://jovian.com/prabhat-himika/basics-of-python'

In [218]:
'this' in fruits

True

In [220]:
# we can't add elements
fruits[0] = "hunt"

TypeError: 'tuple' object does not support item assignment

In [227]:
new_tuple = 'athens','greece2','0fggt'
new_tuple

('athens', 'greece2', '0fggt')

In [231]:
single_element_tuple = (4,)

In [232]:
type(single_element_tuple)

tuple

In [233]:
point = (3,4)
pointx , pointy = point

In [234]:
pointx

3

In [243]:
# tuples and lists are interchangaeble
new_list = ['a' , 'b', 'c']
new_tuple = (1 , 2, 3,1,1)

In [236]:
tuple(new_list)

('a', 'b', 'c')

In [237]:
tuple([1,2,3,])

(1, 2, 3)

In [238]:
list(new_tuple)

[1, 2, 3]

In [240]:
help(new_tuple.count)

Help on built-in function count:

count(value, /) method of builtins.tuple instance
    Return number of occurrences of value.

In [241]:
# see docs
?new_tuple.index

In [244]:
new_tuple.count(1)

3

In [245]:
new_tuple.index(3)

2

### Dictionaries

random notes

there are 2 ways to declare a dictionary - 
1. using key value pairs
2. using dict

In [247]:
person1= {
    'name' : "himika",
    'place' : 'Delhi',
    'age' : '22'
}

In [248]:
person1

{'name': 'himika', 'place': 'Delhi', 'age': '22'}

In [250]:
person2 = dict(name = "joemama" ,place = "kenya", age= "yo1oifgh")

In [251]:
person2

{'name': 'joemama', 'place': 'kenya', 'age': 'yo1oifgh'}

In [252]:
type(person1)

dict

In [253]:
person1[name]

NameError: name 'name' is not defined

In [254]:
person1['name']

'himika'

In [255]:
person1.get('age')

'22'

In [257]:
# get method also accepts a default value in case the key is not present in the dict
person1.get("address","unknown")

'unknown'

In [259]:
person2['age']

'yo1oifgh'

In [260]:
person2["age"] = 23

In [261]:
person2['age']

23

In [263]:
person1.pop('age')

'22'

In [264]:
person2

{'name': 'joemama', 'place': 'kenya', 'age': 23}

In [265]:
person1.keys()

dict_keys(['name', 'place'])

In [266]:
person1.values()

dict_values(['himika', 'Delhi'])

In [267]:
person1.items()

dict_items([('name', 'himika'), ('place', 'Delhi')])

In [271]:
person1.items()[1]

TypeError: 'dict_items' object is not subscriptable

In [274]:
# to access an element at a particular index
list(person1)

['name', 'place']

In [276]:
person1

{'name': 'himika', 'place': 'Delhi'}

In [277]:
person1.()

dict_keys(['name', 'place'])

In [278]:
person1['place']

'Delhi'

In [280]:
list(person1)

['name', 'place']

In [286]:
b=person1.values()
b[(list(person1)).index('place')]

TypeError: 'dict_values' object is not subscriptable

In [287]:
person1= {
    'name' : "himika",
    'place' : 'Delhi',
    'age' : '22',
    'age' : '34'
}

In [288]:
person1

{'name': 'himika', 'place': 'Delhi', 'age': '34'}

In [289]:
person3 = person1.copy()

In [290]:
person3

{'name': 'himika', 'place': 'Delhi', 'age': '34'}

In [300]:
person1= {
    'name' : "himika",
    'place' : 'Delhi',
    'age' : '22',
    'age' : '34',
    '34' : {
        'name' : "new",
        'age' : '34'
    },
    
    'a_list': [1 , "rt" , 'rt rt'],
    'a_tuple' : (1 ,3,4,5,'rt')
}

In [301]:
person1

{'name': 'himika',
 'place': 'Delhi',
 'age': '34',
 '34': {'name': 'new', 'age': '34'},
 'a_list': [1, 'rt', 'rt rt'],
 'a_tuple': (1, 3, 4, 5, 'rt')}

In [308]:
person1['a_tuple[0]']

KeyError: 'a_tuple[0]'

In [307]:
# to access a specific index in a dictionary
print(list(person1)[0])

name

 `update` method in a dictionary - can be used to add the key value pairs from one dictionary to another dictionary and also add new key-value pairs

In [310]:
person2.update(person1)

In [311]:
person2

{'name': 'himika',
 'place': 'Delhi',
 'age': '34',
 '34': {'name': 'new', 'age': '34'},
 'a_list': [1, 'rt', 'rt rt'],
 'a_tuple': (1, 3, 4, 5, 'rt')}

In [315]:
person2.update({
    'city' : "GZBD",
    'ares_type' : "urban"
})

print(person2)

{'name': 'himika', 'place': 'Delhi', 'age': '34', '34': {'name': 'new', 'age': '34'}, 'a_list': [1, 'rt', 'rt rt'], 'a_tuple': (1, 3, 4, 5, 'rt'), 'city': 'GZBD', 'ares_type': 'urban'}

In [316]:
person2

{'name': 'himika',
 'place': 'Delhi',
 'age': '34',
 '34': {'name': 'new', 'age': '34'},
 'a_list': [1, 'rt', 'rt rt'],
 'a_tuple': (1, 3, 4, 5, 'rt'),
 'city': 'GZBD',
 'ares_type': 'urban'}

In [317]:
jovian.commit()

[jovian] Updating notebook "prabhat-himika/basics-of-python" on https://jovian.com
[jovian] Committed successfully! https://jovian.com/prabhat-himika/basics-of-python

'https://jovian.com/prabhat-himika/basics-of-python'